
  body{
    display: flex;
  }
  .nav{
      min-width: 200px;
      font-size: 25px;
  }
  .nav a{
    border: 2px solid #000000;
  }
  table {
    font-family: arial, sans-serif;
     border-collapse: collapse;
      width: 100%;
     }
  td, th {
     border: 1px solid #000000;
     text-align: left;
     padding: 8px;
      }

  #CompHeading{
    text-align: center;
    font-size:xx-large;
    color: blue;
  }
  #LearningHeading{
    text-align: center;
  }
          
   .Question {
    background-color: #f5f5f5;
   }

   .Above7 {
    background-color: #88f588;
   }

   .Above3 {
    background-color: #f8c374;
   }

   .Below3 {
    background-color: #ff4949;
   }

   img {
    height: 300px;
   }